@charset "UTF-8";

/* reset */

* {
	margin: 0;
	padding: 0;
	}
html {
	line-height: 1.3em;
	}
body {
	text-align: center;
	background: url(../img/bg.gif) top repeat-x;
	background-size: 10px 280px;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	font-size: 12px;
	font-weight: normal;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	color: #525277;
	}
h1 , h2 , h3 , h4 , h5 , h6 {
	font-size: 16px;
	font-weight: normal;
	}
dl, ul, ol {
	list-style-type: none;
	}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
	}
blockquote, q {
	quotes:none;
	}
blockquote:before ,
blockquote:after ,
q:before ,
q:after {
	content:'';
	content:none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
table th ,
table td {
	text-align: left;
	font-weight: normal;
	}
img {
	vertical-align: bottom;
	border: 0;
	font-size: 0;
	}

/* a setup */

a {
	text-decoration: none;
	color: #ff3535;
	}
a:hover {
	color: #f66;
	}
a:focus, a:active ,input:focus {
	outline: none;
	}
